<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795647991123-gk01jvn35n7obo36mrfbgfnp35rm3rhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795647991123-gk01jvn35n7obo36mrfbgfnp35rm3rhs</string>
	<key>API_KEY</key>
	<string>AIzaSyAVlsyUgUCZ8iOhkf2A3VuZP1OnZ5FaV3E</string>
	<key>GCM_SENDER_ID</key>
	<string>795647991123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RUmateApp</string>
	<key>PROJECT_ID</key>
	<string>rumate-68273</string>
	<key>STORAGE_BUCKET</key>
	<string>rumate-68273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795647991123:ios:273e7eb6ef1497875fd5a6</string>
</dict>
</plist>